:root {
    --tonic1-color: #2b9adf;
    --tonic2-color: #85df2b;
    --tonic3-color: #ff7b00;
    --bg-color: #1a1a1a;
    --bg2-color: #1f1f1f;
    --bg3-color: #292929;
    --fg-color: #f0f0f0;
    --fg2-color: #757575;
    --danger-color: #df2b2b;

    --main-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: var(--main-font-size);
    color: var(--fg-color);
}

body {
    background-color: var(--bg-color);
}

.app_title {
    font-size: 8px;
}








/* Form  */

button,
input,
textarea,
select {
    all: unset;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    /* empecher redisionnement */
    resize: none;
    /* permet les retours à la ligne automatiques */
    white-space: pre-wrap;
    /* coupe les mots longs s’il le faut */
    word-wrap: break-word;
}

select {
    background-color: var(--bg3-color);
    color: var(--fg2-color);
}

select::-webkit-scrollbar {
    width: 0px;
}

option {
    color: var(--fg2-color);
}

input,
textarea,
select {
    color: var(--tonic1-color);
    font-size: 17px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    font-size: var(--main-font-size);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.form_group,
.group {
    display: flex;
    justify-content: space-between;
}

.group {
    margin-left: 10px;
    margin-right: 10px;
}

.form_group {
    margin-top: 8px;
    padding: 5px;
    background-color: var(--bg3-color);
    border-radius: 5px;
}

.form_label {
    color: var(--fg2-color);
}

.form_select_group {
    display: flex;
}

.form_select_group>span {
    align-content: center;
    color: var(--fg2-color);
    padding-left: 7px;
    padding-right: 7px;
}







.menu,
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg2-color);
    height: 40px;
}

.nav {
    position: absolute;
    bottom: 0px;
}

.form_btn,
.menu_btn,
.add_btn {
    background: none;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: var(--tonic2-color);

    padding-left: 13px;
    padding-right: 13px;

}

.add_btn {
    color: var(--tonic2-color);
    font-weight: lighter;
    font-size: 36px;
    padding-right: 0;
}







.week {
    overflow-y: scroll;
    height: 500px;
}

.event {
    margin-top: 10px;
}

.events {
    overflow-y: scroll;
    height: 450px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.week_events {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.week_events>div {
    display: flex;
    flex-direction: column;
}

.week_events_title {
    font-size: larger;
    font-weight: bold;
    color: var(--tonic1-color);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.view_planning_nav {
    position: absolute;
    bottom: 0px;
    padding-left: 0;
    padding-right: 0;
}

.view_planning_nav .menu_btn {
    border: none;
}

.event_date {
    display: flex;
    justify-content: space-between;
}

.quarter_day_header,
.week_event {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--fg2-color);
}

.quarter_day_header {
    color: var(--fg2-color);
}

.week_event {
    border: solid 1px var(--fg2-color);
    border-radius: 10px;
    padding: 5px;
}

.larger {
    font-size: larger;
}

.x-larger {
    font-size: x-large;
}

.bold {
    font-weight: bold;
}

.three_month {
    display: flex;
}

.three_month>div {
    border: solid rgb(214, 214, 214) 1px;
    padding: 2px;
}

.gone {
    text-decoration: line-through;
    color: rgb(44, 44, 44);
}



.color_fg2 {
    color: var(--fg2-color);
}

.tonic_1 {
    color: var(--tonic1-color);
}

.tonic_2 {
    color: var(--tonic2-color);
}

.warning {
    color: var(--tonic3-color);
}

.danger {
    color: var(--danger-color);
}

.flaot_right {
    float: right;
}

.highlight_1 {
    background-color: var(--tonic1-color);
}

.center {
    text-align: center;
}