  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: monospace;
  }

  .hidden {
      display: none;
  }

  #container {
      padding: 5px;
  }

  input,
  button {
      all: unset;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 5px;
      border: 1px solid black;
      min-width: fit-content;
  }

  button {
      padding-right: 10px;
      padding-left: 10px;
      background: none;
      font-weight: bolder;
      background-color: rgb(213, 213, 213);
  }

  .menu {
      margin-bottom: 5px;
  }