  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: monospace;
      font-size: 10px;
  }

  input,
  button {
      all: unset;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 5px;
      min-width: 35px;
      border: none;
  }

  input {
      border-bottom: 1px solid black;
      color: blue;
  }

  button {
      padding-right: 10px;
      padding-left: 10px;
      background: none;
      font-weight: bolder;
      background-color: rgb(213, 213, 213);
      padding: 15px;
  }

  select {
      padding: 8px;
      color: blue;
  }

  .hidden {
      display: none;
  }

  .menu {
      margin-bottom: 5px;
  }

  .three_month {
      display: flex;
  }

  .three_month>div {
      border: solid rgb(214, 214, 214) 1px;
      padding: 2px;
  }

  .gone {
      text-decoration: line-through;
      color: rgb(44, 44, 44);
  }

  .next {
      background-color: rgb(226, 255, 182);
  }

  .strong {
      font-weight: bold;
      background-color: rgb(255, 255, 155);
  }

  .panel {
      position: fixed;
      bottom: 0px;
  }

  #container {
      padding: 5px;
  }

  #event_title {
      min-width: 250px;
      text-align: left;
  }

  #today {
      width: fit-content;
      padding: 5 px;
      background-color: rgb(255, 255, 155);
  }