:root {
    --color1: #dff6fa;
}

body {
    font-family: Calibri, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--color1);
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: var(--color1);
}

.keyword {
    border: solid black 1px;
    padding: 3px;
}

.sum_value,
.total_title {
    font-weight: bold;
}

.total_title {
    text-align: right;
}

h1,
section {
    padding: 20px;
    margin: 0;
}

h1 {
    border-top: solid black 2px;
    font-size: 20px;
}

section {
    border-top: none;
    padding-top: 0;
    display: none;
}

.toogle_img {
    height: 30px;
    float: right;
    vertical-align: bottom;
}

.header {
    text-align: center;
}

.app_title {
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    padding-left: 40%;
    border: solid rgb(143, 143, 143) 2px;
    font-size: 20px;
    margin: 3px;
}

a {
    text-decoration: none;
    color: black;
}

.img_row_action {
    height: 25px;
}

td>input {
    background-color: var(--color1);
    box-sizing: border-box;
    border: solid #e6e6e6 2px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}