:root {
    --color1: hsl(315, 100%, 96%);
    --color2: hsl(315, 88%, 77%);
}

* {
    margin: 0;
    /* now padding and border are included in the width and height */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Calibri, sans-serif;
}

.header {
    position: fixed;
    width: 200vw;
    background-color: white;
    border-bottom: solid var(--color2) 3px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* si scrollX bloqué => augmenté le nombre de vw */
    width: 1200vw;
    /* padding-top: 65px; */
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px black;
}

td,
th {
    border: 1px solid var(--color1);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--color1);
}

.keyword {
    border: solid black 1px;
    padding: 3px;
}

.sum_value,
.total_title {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: greenyellow;
}

.highlight_danger {
    background-color: #ff9b94;
}

.total_title {
    text-align: right;
}

h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    margin-top: 20px;
    text-transform: capitalize;
    border: solid var(--color2) 5px;
    text-align: center;
}

section {
    padding: 20px;
    padding-top: 0;
    min-width: 300px;
    max-width: 700px;
    max-height: fit-content;
}

.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#viewNotice {
    max-width: 300px;
    text-align: justify;
}

.btn_scroll_h {
    position: relative;
    cursor: pointer;
    padding: 0;
    border: none;
    height: 30px;
}

@media only screen and (max-width: 1100px) {
    section {
        width: 100vw;
    }
}

h2 {
    margin-top: 20px;
}

.visible {
    display: block;
}

.app_title {
    text-align: left;
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.img_row_action {
    height: 25px;
    cursor: pointer;
}

td>input,
td>select {
    background-color: var(--color1);
    border: solid #e6e6e6 2px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

option {
    padding-bottom: 10px;
}

input::file-selector-button,
button {
    content: none;
    padding: 10px;
    background-color: var(--color2);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

button {
    margin-top: 20px;
}

.tr_sub_title {
    text-align: right;
    font-style: italic;
}