:root {
    --color1: hsl(315, 100%, 96%);
    --color2: hsl(315, 88%, 77%);
    --color_danger: #ff9b94;
    --color_highlight: greenyellow;
    --color_keyword: #9effdd;
    --iphone8_width: 375px;
    --iphone8_height: 667px;
    --section_padding: 20px;
}

* {
    margin: 0;
    /* now padding and border are included in the width and height */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.header {
    position: fixed;
    width: 200vw;
    background-color: white;
    border-bottom: solid var(--color2) 3px;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.container {
    width: 100vw;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px black;
}

td,
th {
    border: 1px solid var(--color1);
    text-align: left;
    padding: 5px;
}

th {
    font-style: italic;
}

tr:nth-child(even) {
    background-color: var(--color1);
}

.keyword {
    padding: 3px;
    background-color: var(--color_keyword);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sum_value,
.total_title {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.highlight {
    background-color: var(--color_highlight);
}

.highlight_danger {
    background-color: var(--color_danger)
}

.total_title {
    text-align: right;
}

h1 {
    font-size: 20px;
    font-family: 'Brush Script MT', cursive;
}

h1.app_title {
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: small;
    text-decoration: underline;
    padding-bottom: 5px;
}

section {
    padding-left: var(--section_padding);
    padding-right: 5px;
    padding-top: 0;
    max-width: 700px;
    max-height: fit-content;
}

.view_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.section_gotop {
    width: 30px;
}

section,
.view_header {
    min-width: var(--iphone8_width)- var(--section_padding);
}

.view_header_title {
    display: flex;
    align-items: center;
}

.view_header_title_img {
    height: 25px;
    padding-right: 5px;
}

.view_header_toggle_img {
    height: 50px;
    padding: 12px;
    cursor: pointer;
}

.view_body {
    padding-bottom: 30px;
    padding-right: 15px;
}

hr {
    border-color: var(--color2);
}

@media only screen and (max-width: 1100px) {
    section {
        width: 100vw;
    }
}

h2 {
    margin-top: 20px;
}

.visible {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.img_row_action {
    height: 25px;
    cursor: pointer;
}

td>input,
td>select {
    background-color: var(--color1);
    border: solid #e6e6e6 2px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

option {
    padding-bottom: 10px;
}

input::file-selector-button,
button {
    content: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid var(--color2) 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;
    color: black;
}

button {
    margin-top: 20px;
}

button.td_button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.tr_sub_title {
    text-align: right;
    font-style: italic;
}

.category_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-top: 20px;
    padding: 5px;
    border: solid var(--color2) 3px;
}

.category_title>h3 {
    text-transform: capitalize;
}

img.impex {
    width: 55px;
    padding: 10px;
    border: solid var(--color2) 4px;
    border-radius: 5px;
}